{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="{% static 'jquery/js/jquery-3-6-0.min.js' %}"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>




    </head>
<body>
    <div class="page-header container">
        <div class="row">
            <div class="col-sm-12">
                {% block navbar %}
                {% include "navbar.html" %}

                {% endblock %}
            </div>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-sm-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>