{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}" type="text/css">
        <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
<body>

    <div class="content container">
        <div class="row">
            <div class="col-sm-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>