{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col">
      <div class="card border-yok mb-3" style="max-width: 100rem;">
      <div class="card-header" align="center"><small>Bilgi</small></div>
      <div class="card-body " >
        <h5 class="card-title"></h5>
      <p class="card-text" align="center">

    {% if user.is_authenticated %}
         Parola Başarıyla Değiştirildi! <a href="{% url 'home' %}">Anasayfa</a>'ya dön.
        {%else%}
       Parola Başarıyla Değiştirildi!  Buradan <a href="{% url 'login' %}">Giriş</a> yapabilirsiniz.
   {%endif%}
      </p>
      </div>
      </div>

    </div>


  </div>


</div>
{% endblock %}
